<link rel="stylesheet" href="css/dropdown.css">
<style>
		.bg-internas {
		top: 0;
	}
	body {
		background: #35570a;
	}
	#wrapper {
		width: 100%;
		padding-top: 26em;
		padding-bottom: 43px;
	}
	.dropdown {
		font-size: 1.5em;
	}
	.dropdown table {
		border-collapse: collapse;
		border-color: #CCC;
		width: 100%;
		background: #fff;
	}
	.dropdown table th {
		background: gray;
		padding: 5px;
		font-weight: lighter;
	}
	.dropdown table th .date{
		float: left;
	}
	.dropdown table th .local{
		float: right;
	}
	.dropdown table tr td{
		padding: 5px;
		vertical-align: top;
		font-size: 1.5em;
	}
	.dropdown table tr td img{
		width: 32px;
		margin-right: 10px;
		float: left;
	}
	.dropdown table tr td .logo{
		display: inline-block;
		margin-right: 10px;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		background: #eee;
		float: left;
	}
	.result {
		float: right;
		margin-right: 10px;
		line-height: 32px;
	}
	.team {
		line-height: 32px;
		display: inline-block;
		float: left;
	}
	@media all and (max-height: 700px){
		#wrapper {
			padding-top: 28em;
		}

	}
	@media all and (max-height: 550px){
		#wrapper {
			padding-top: 26em;
		}
		.bg-internas {
		    top: 0;
		}
	}

</style>
<menu id="nav-left">
    <ul>
        <li ng-repeat="item in items" class="{{item.status}}">
        	<a ng-if="item.href != '#/facebook'" href="{{item.href}}" ng-click="activeMenu(item)">{{ item.title }}</a>
        	<a ng-if="item.href == '#/facebook'" href="{{url_local}}" onclick="window.open('https://www.facebook.com/planetabrasiloficial', '_blank', 'location=yes');">{{ item.title }}</a>
        </li>
    </ul>
</menu>
<header>
	<button class="menu"></button>
	<h1>Menu</h1>
	<div class="logo_header">
		<img src="images/logo.png" alt="Logotipo">
	</div>
</header>
<div class="bg-internas left-menu"><img src="images/{{bg_img}}" alt="Bacground"></div>
<div id="wrapper">
	<div class="page">
		<div class="section">

			<div class="container">
			  <ul>
			    <li class="dropdown">
			      <a href="#" data-toggle="dropdown">{{second}}<i class="icon-arrow"></i></a>
			      <ul class="dropdown-menu">
			      	<li ng-repeat="g in finals.oitavas">
							<table border="1">
								<thead>
									<tr>
										<th>
											<span class="date">{{g.date}}</span>
											<span class="local">{{g.local}}</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<img ng-if="g.img_home != ''" src="{{ g.img_home}}" alt="{{ g.home}}">
											<span ng-if="g.img_home == ''" class="logo"></span>
											<span class="team">{{g.home}}</span>

											<span ng-if="g.gols_home != 'false'" class="result">{{g.gols_home}}</span>
										</td>
									</tr>
									<tr>
										<td>
											<img ng-if="g.img_visited != ''" src="{{ g.img_visited}}" alt="{{ g.visited}}">
											<span ng-if="g.img_visited == ''" class="logo"></span>

											<span class="team">{{g.visited}}</span>
											
											<span ng-if="g.gols_visited != 'false'" class="result">{{g.gols_visited}}</span>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
			      </ul>
			    </li>
			    <li class="dropdown">
			      <a href="#" data-toggle="dropdown">{{quater}} <i class="icon-arrow"></i></a>
			      <ul class="dropdown-menu">
			      	<li ng-repeat="g in finals.quartas">
							<table border="1">
								<thead>
									<tr>
										<th>
											<span class="date">{{g.date}}</span>
											<span class="local">{{g.local}}</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<img ng-if="g.img_home != ''" src="{{ g.img_home}}" alt="{{ g.home}}">
											<span ng-if="g.img_home == ''" class="logo"></span>
											<span class="team">{{g.home}}</span>

											<span ng-if="g.gols_home != 'false'" class="result">{{g.gols_home}}</span>
										</td>
									</tr>
									<tr>
										<td>
											<img ng-if="g.img_visited != ''" src="{{ g.img_visited}}" alt="{{ g.visited}}">
											<span ng-if="g.img_visited == ''" class="logo"></span>

											<span class="team">{{g.visited}}</span>
											
											<span ng-if="g.gols_visited != 'false'" class="result">{{g.gols_visited}}</span>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
			      </ul>
			    </li>
			    <li class="dropdown">
			      <a href="#" data-toggle="dropdown">Semi final <i class="icon-arrow"></i></a>
			      <ul class="dropdown-menu">
			      	<li ng-repeat="g in finals.semi">
							<table border="1">
								<thead>
									<tr>
										<th>
											<span class="date">{{g.date}}</span>
											<span class="local">{{g.local}}</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<img ng-if="g.img_home != ''" src="{{ g.img_home}}" alt="{{ g.home}}">
											<span ng-if="g.img_home == ''" class="logo"></span>
											<span class="team">{{g.home}}</span>

											<span ng-if="g.gols_home != 'false'" class="result">{{g.gols_home}}</span>
										</td>
									</tr>
									<tr>
										<td>
											<img ng-if="g.img_visited != ''" src="{{ g.img_visited}}" alt="{{ g.visited}}">
											<span ng-if="g.img_visited == ''" class="logo"></span>

											<span class="team">{{g.visited}}</span>
											
											<span ng-if="g.gols_visited != 'false'" class="result">{{g.gols_visited}}</span>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
			      </ul>
			    </li>
			    <li class="dropdown">
			      <a href="#" data-toggle="dropdown">Final <i class="icon-arrow"></i></a>
			      <ul class="dropdown-menu">
			      	<li ng-repeat="g in finals.final">
							<table border="1">
								<thead>
									<tr>
										<th>
											<span class="date">{{g.date}}</span>
											<span class="local">{{g.local}}</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<img ng-if="g.img_home != ''" src="{{ g.img_home}}" alt="{{ g.home}}">
											<span ng-if="g.img_home == ''" class="logo"></span>
											<span class="team">{{g.home}}</span>

											<span ng-if="g.gols_home != 'false'" class="result">{{g.gols_home}}</span>
										</td>
									</tr>
									<tr>
										<td>
											<img ng-if="g.img_visited != ''" src="{{ g.img_visited}}" alt="{{ g.visited}}">
											<span ng-if="g.img_visited == ''" class="logo"></span>

											<span class="team">{{g.visited}}</span>
											
											<span ng-if="g.gols_visited != 'false'" class="result">{{g.gols_visited}}</span>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
			      </ul>
			    </li>
			    
			  </ul>
			</div>
		<div class="back_footer">
		    <button onclick="window.history.back()">{{back}}</button>
		</div>

		</div>


	</div>
</div>
<div id="footer-fixed">
	<span>BRASIL BEYOND BRAZIL</span>
</div>

<script>
        var dropdown = document.querySelectorAll('.dropdown');
        var dropdownArray = Array.prototype.slice.call(dropdown,0);
        dropdownArray.forEach(function(el){
            var button = el.querySelector('a[data-toggle="dropdown"]'),
                    menu = el.querySelector('.dropdown-menu'),
                    arrow = button.querySelector('i.icon-arrow');
            button.addEventListener("click", function(e) {
                // alert('clique');
                if(!menu.hasClass('show')) {
                    menu.classList.add('show');
                    menu.classList.remove('hide');
                    arrow.classList.add('open');
                    arrow.classList.remove('close');
                    event.preventDefault();
                }
                else {
                    menu.classList.remove('show');
                    menu.classList.add('hide');
                    arrow.classList.remove('open');
                    arrow.classList.add('close');
                    event.preventDefault();
                }
                e.preventDefault();
            });
        })
</script>