<style>
	.base {
		height: 100%;
		background: #000;
		text-align: center;
	}

	#view-angular {
		height: 100%;
	}
	iframe {
		margin-top: 70px;
		display: inline-block;
	}
</style>

<menu id="nav-left">
    <ul>
        <li ng-repeat="item in items" class="{{item.status}}"><a href="{{item.href}}" ng-click="activeMenu(item)">{{ item.title }}</a></li>
    </ul>
</menu>
<header>
	<button class="menu"></button>
	<h1>Planeta Brasil</h1>
</header>
<div class="base">
	<iframe src="game/index.html" frameborder="0" width="320" height="320"></iframe>
</div>	
<div id="footer-fixed">
	<span>BRASIL BEYOND BRAZIL</span>
</div>
