<style>
	.base {
		height: 100%;
		background: #000;
		text-align: center;
	}

	#view-angular {
		height: 100%;
	}
	iframe {
		margin-top: 70px;
		display: inline-block;
	}
</style>

<menu id="nav-left">
    <ul>
        <li ng-repeat="item in items" class="{{item.status}}">
        	<a ng-if="item.href != '#/facebook'" href="{{item.href}}" ng-click="activeMenu(item)">{{ item.title }}</a>
        	<a ng-if="item.href == '#/facebook'" href="{{url_local}}" onclick="window.open('https://www.facebook.com/planetabrasiloficial', '_blank', 'location=yes');">{{ item.title }}</a>
        </li>
    </ul>
</menu>
<header>
	<button class="menu"></button>
	<h1>Menu</h1>
</header>
<div class="base">
	<iframe src="game/index.html" frameborder="0" width="320" height="320"></iframe>
</div>	
<div id="footer-fixed">
	<span>BRASIL BEYOND BRAZIL</span>
</div>
