<div class="bg"><img src="images/bg.png" alt="Bacground"></div>
<div id="wrapper">
	<div class="relative identify">
		<h1><img src="images/logo.png" alt="Logo Planeta Brasil"><span class="uppercase beyond">Brasil Beyond Brazil</span></h1>
		<div class="content">
			<h2>Identifique-se</h2>
			<form action="#" method="POST">
				<input type="text" placeholder="CPF" class="shadow-top">
				<p>ou</p>
				<input type="text" placeholder="Passaport" class="shadow-top">
				<div class="submit">
					<input type="submit" value="Avançar &#62;">

					<a href="#">Pular esta etapa &#62;</a>
				</div>
			</form>
		</div>
	</div>
</div>