

		<div ng-if="language == '2'">
			<h2>Give a <br/>good destination</h2>
			<h3>its <br/>trip.</h3>
			<div class="block_text">
		
				<h4>WHAT IS PROJECT?</h4>
				<p>
					The Eagle Group, which is part of the Planeta Brazil, was born the aim of realizing dreams and spread happiness around the world. 
				</p>
				<p>
					But our goal is reached, we must first of all take care of what is most important: the world. 
				</p>
				<p>	
					So we created the Green Eagle Project: here you have the chance to do your part to preserve our planet by planting a seedling or more each trip. 
				</p> 
				<p>
					And the Planet Brazil already kicked off nearly 7mil planting seedlings: one for each person who is working with us in the operation of this great event. 
				</p>
			</div>
			<div class="block_text">
				<h4>HOW IT WORKS?</h4>
				<p>
					GREEN EAGLE is a partnership with the institute GREEN INITIATIVE, who in addition to working in the reforestation of the Atlantic Forest still helps many poor communities living this planting. 
				</p>
				<p>
					To contribute to a greener world, just buy the planting of a (symbolic gesture) or more seedlings. 
				</p>

				<div class="figure">
					<img src="images/aguia_verde_fig1.jpg">
				</div>
			</div>
			<div class="block_text">
				<h4>HOW TO PARTICIPATE? </h4>
				<p>
					
					We have an environmental, social and most important purpose, a cultural legacy: the quest to build a new awareness and inspire sustainable growth for all. 
				</p>
				<p>
					And for that dream to become reality, we need you.
				</p>
			</div>
		</div>





		<div ng-if="language == '3'">
			<h2>Dé una <br/>buen destino</h2>
			<h3>su <br/>viaje</h3>
			<div class="block_text">
		
				<h4>¿QUÉ ES EL PROYECTO?</h4>
				<p>
					El Grupo de Eagle, que es parte del Planeta Brasil, nació el objetivo de hacer realidad los sueños y la felicidad se extendió por todo el mundo. 
				</p>
				<p>
					Pero se alcanza nuestra meta, debemos ante todo tener cuidado de lo que es más importante: el mundo. 
				</p>
				<p>	
					Por eso creamos el Proyecto Águila Verde: aquí tienes la oportunidad de hacer su parte para preservar nuestro planeta mediante la plantación de una semilla o más de cada viaje.
				</p> 
				<p>
					Y el Planeta Brasil ya inició casi 7 mil plantación de plantones: uno por cada persona que está trabajando con nosotros en el funcionamiento de este gran evento. 
				</p>
			</div>
			<div class="block_text">
				<h4>¿CÓMO FUNCIONA? </h4>
				<p>
					GREEN EAGLE es una asociación con el instituto VERDE INICIATIVA, que además de trabajar en la reforestación de la Mata Atlántica todavía ayuda a muchas comunidades pobres que viven esta plantación. 
				</p>
				<p>
					Para contribuir a un mundo más verde, acaba de comprar la plantación de un (gesto simbólico) o más plántulas.
				</p>

				<div class="figure">
					<img src="images/aguia_verde_fig1.jpg">
				</div>
			</div>
			<div class="block_text">
				<h4>CÓMO PARTICIPAR? </h4>
				<p>
					
					Tenemos un objetivo medioambiental, social y más importante, un legado cultural: la búsqueda de construir una nueva conciencia e inspirar el crecimiento sostenible para todos. 
				</p>
				<p>
					Y para que ese sueño se convierta en realidad, te necesitamos.
				</p>
			</div>
		</div>


