<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="com.phonegap.planetabrasil"
    version="1.0.7"
    versionCode="12" 
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>Planeta Brasil</name>
    
    <description>
        Aplicação para que os clientes do Planeta Brasil possam curtir alguns pontos turisticos durante a Copa do Mundo FIFA no Brasil.
    </description>
    
    <author email="rafaelportugal05@gmail.com" href="http://phonegap.com">
        Rafael Portugal
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
    </feature>
    
    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
    </feature>

    <!-- Camera -->
    <gap:plugin name="org.apache.cordova.core.camera" />
    
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>

    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>

    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.InAppBrowser" />
    </feature>
    
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />
    
    <gap:plugin name="com.phonegap.plugin.statusbar" />
    <preference name="StatusBarOverlaysWebView" value="false" />

    
    <gap:plugin name="nl.x-services.plugins.socialsharing" />

    <!--gap:plugin name="nl.x-services.plugins.socialsharing" version="4.0.8" /-->

    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.2" />

    <!--preference name="permissions" value="none" / -->

    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="15" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icon.png" />
    
    <!-- Icones e Splash Android -->
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />


    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />

    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.jpg" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.jpg" />
    
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/320_480.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/iphone_640_960.png" width="640" />
    <gap:splash width="640" height="1136" src="res/screen/ios/640_1136.png" gap:platform="ios" />

    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />

</widget>
